requests
bs4
licensing
selenium_stealth
undetected_chromedriver
discord_webhook
pyautogui
termcolor
google
proxybroker
windows-curses
pypiwin32
cython
urllib3==1.26.18
aiosqlite==0.19.0
aiosignal==1.3.1
aiohttp==3.8.6
beautifulsoup4==4.12.2
cryptography==41.0.7
cryptg==0.4.0
colorlog==6.8.0
colored==1.4.4
charset-normalizer==3.3.2
cffi==1.15.1
certifi==2023.11.17
bs4==0.0.1
requests==2.31.0
pillow==9.5.0
pywin32==306
spinners==0.0.24
importlib-metadata==6.7.0
tqdm==4.66.1
telethon==1.33.1
idna==3.6
httpx==0.24.1
urh==2.9.6
httpcore==0.17.3
halo==0.0.31
typing==3.7.4.3
typing-extensions==4.7.1
python-dotenv==0.21.1
pyqtwebengine==5.15.6
pyqtwebengine-qt5==5.15.2
pyqt5==5.15.10
pyqt5-sip==12.13.0
pyqt5-qt5==5.15.2
pycparser==2.21
pyasn1==0.5.1
pyaes==1.6.1
psutil==5.9.7
python-dateutil==2.8.2
validators==0.20.0
loguru==0.7.2
lxml==5.1.0
pystray
adblock
stem==1.8.2
urh
googlesearch-python
validators==0.22.0
termcolor
tld==0.13
pyperclip==1.8.2
wmi